@import "color.css";

body {
  width: 340px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}

.header {
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: center;
  padding: 30px 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  font-size: 20px;
}

.header__column {
  width: 33%;
}

.header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}
.search {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 320px;
  height: 50px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 5px 5px gray;
  padding: 0 24px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 14px;
}

.main-screen {
  padding: 0 15px;
}

.book {
  margin-bottom: 25px;
}
.book-screen {
  display: flex;
  flex-direction: row;
  height: 160px;
}

.book-screen img {
  width: 100px;
  margin-right: 17px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.info-title {
  font-size: 19px;
  font-weight: 500;
}
.info-writer {
  font-size: 14px;
  opacity: 0.3;
  margin: 7px 0;
}

.mark {
  font-size: 12px;
  color: var(--yellow);
}

.sss {
  color: var(--gray);
}

.select {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.select__column {
  background-color: var(--gray);
  width: 80px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 14px;
}

.now {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookmark {
  background-color: var(--yellow);
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 42px;
}

.book-now {
  width: 100px;
  height: 33px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adventure {
  margin-bottom: 25px;
}
.adventure-screen {
  display: flex;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.adventure__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73px;
  margin-right: 25px;
  position: relative;
}

.adventure__column img {
  width: 73px;
  height: 110px;
  margin-bottom: 15px;
}

.adventure__mark {
  font-size: 10px;
  margin-bottom: 10px;
}

.popular {
  width: 100%;
  margin-bottom: 25px;
}
.popular-screen {
  display: flex;
  flex-direction: row;
}
.popular-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 23px;
}

.writer {
  font-weight: 600;
}
.writer__sub {
  font-size: 12px;
}

.about-writer {
  font-size: 12px;
}
